.numericKeyPad{
    display: flex;
    flex-wrap: wrap;
    margin: auto ;
}

.keyPadBtn{
    list-style: none;
    flex: 1 0 30%;
    padding-top: 25%;
    background-color: white;
    border: 1px solid;
    margin: 1px;
}

.backspace{
    height: inherit;
    border: none;
    padding-top: inherit;
}

.backspace:hover{
    cursor: pointer;
}