.selectUserBtn >button{
    width: 50%;
    border: 1px solid;
    margin: 1px;
    background-color: white;
}
.selectUserBtn{
    width: 100%;
}

.users{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:50vh;
    overflow-y: scroll;
    align-items: center;
}

.noUsersFiltered >p{
    height: fit-content;
}

.alphabet{
    height: 40vh;
}

.firstRow, .secondRow, .thirdRow{
    width: 95vw;
    height: 33%;
}

.letterBtn{
    position: relative;
    width: 9%;
    max-width: 80px;
    margin: 1px;
    border: 1px solid;
    background-color: white;
    height: 99%;
    font-size: 3em;
}

.pin{
    border: 1px solid;
    height: 5vh;
    font-size: 3vh;
}

.numericKeyPadHolder{
    max-width: 200px;
    margin:auto;
}

@media screen and (max-width: 1000px){
    .numericKeyPadHolder{
        max-width:150px ;
    }
}

.popup-content{
    width: 60%!important;
}